<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNJ71KT1OBvwjkNoR44XOq1ZZ44qS68zs</string>
	<key>GCM_SENDER_ID</key>
	<string>918972972138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amorra</string>
	<key>PROJECT_ID</key>
	<string>amorra-bd69f</string>
	<key>STORAGE_BUCKET</key>
	<string>amorra-bd69f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918972972138:ios:37cf5f4756ff112a325e13</string>
</dict>
</plist>